<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
登录成功界面。。
用户列表
<!--{$user}-->
{$loginname}
<table border="1">
    <tr>
        <td>用户名</td>
        <td>年龄</td>
        <td>操作</td>
    </tr>
    {foreach($user as $key =>$u)}
    <tr>
        <td>{$u["user_acc"]}</td>
        <td>{$u["user_age"]}</td>
        <td>
            <a href="updatauser?uno={$u['user_id']}">修改</a>|删除</td>
    </tr>
    {/foreach}
</table>
<script src="__JS__/jquery-2.1.4.js"></script>
<script src="__JS__/login.js"></script>
</body>
</html>