#indexTop{
	width: 100%;
	background-color: #F2F2F2;
	line-height: 30px;
}
#login{
	color: #FF0036;
	padding: 5px;
	font-size: 16px;
	line-height: 30px;
	cursor:pointer;
}
#loginBox{
	text-align: right;
}
#log{
	cursor:pointer;
}
.span{
	color: #FF0036;
	cursor:pointer;
}
.cursor{
	cursor:pointer;
}
#Account{
	cursor:pointer;
	color: #66CCFF;
}
.marginTop15{
	margin-top: 15px;
}
.displayNone{
	display: none;
}
#MyCenterLeft{
	padding: 25px;
    border: 1px solid #808080;
    border-radius: 12.5px;
    box-shadow: darkgrey 3px 3px 20px 1px ;
}
#clock{
	box-shadow: darkgrey 3px 3px 20px 1px ;
	background-color: rgba(0,0,0,0.1);
}
#MyCenterBox2{
	display: none;
}
#MyCenterTop{
	height: 106px;
}
#MyCenterTopImg img{
	width: 80px;
	height: 80px;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.width33{
	width: 33.333%;
	text-align:center;
}
.line-height106{
	line-height: 106px;
}
.middle{
    text-align: center;
    vertical-align:middle !important;
}
.font-size18{
	font-size: 18px;
}
.font-size12{
	font-size: 12px;
}
/*.borderLR{
	border-left: 1px solid black;
	border-right: 1px solid black;
}*/

.padding0{
	padding: 0 !important;
}
.btn-bo{
    border: 0;
}
th,td{
    text-align: center !important;
    vertical-align:middle ;
}
.table td{
    text-align: center;
    vertical-align:middle !important;
}
.text-alignRight{
	text-align: right !important;
}
.text-alignRight{
	text-align: right;
}
.tright{
    text-align: right !important;
}
.commonGoods img{
	width: 100%;
	height: 65%;
}
.SaleGoods img{
	width: 100%;
	height: 65%;
}
.height415{
	height: 415px;
}
.backgroundRed {
	background-color: red;
}
#myTab{
	background-color: rgba(102,204,255,0.3);
}

#myTabContent{
	background-color: rgba(128,128,128,0.3);
}
#trotting{
	position: fixed;
    top: 60px;
    left: 50%;
    margin-left: -250px;
    z-index: 2;
}
#serviceBox p{
	margin-left: 10px;
}
#serviceChat{
	width: 100%;
	height: 400px;
	padding: 10px;
	border:1px solid rgb(102,204,255);
	border-radius: 25px;
	box-shadow: darkgrey 1px 1px 10px 0.2px ;
	display: none;
}
#serviceChat1{
	margin: 0 auto;
	height: 320px;
	overflow: hidden;
	overflow-y:scroll;
}
#serviceChat2{
	padding-top: 20px;
	height: 100px;
}